.comment-form {
  textarea {
    // border-radius: 0px;
    // background-color: transparent;
    max-width: 728px;
    border: none;
    // color: #a0a0a0;
  }
}

.comment-container {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0px;
  }
  
  .meta {
    background-color: #424242;
    padding: 5px;
  }
  .body {
    background-color: #1c1c1c;
    padding: 5px;
  }
}
